:root {
  --yellow: hsl(46.8 88.7% 63.2%);
  --gray-950: hsl(0 0% 6.67%);
  --gray-500: hsl(0 0% 42%);
  --white: hsl(0 0% 100%);
  --s-50: 4px;
  --s-100: 8px;
  --s-150: 12px;
  --s-300: 24px;
  --text-preset-1: 24px;
  --text-preset-2: 16px;
  --text-preset-3: 14px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  background-color: var(--yellow);
  margin: 0;
}

.card {
  max-width: 384px;
  position: absolute;
  inset: 0;
  margin: auto;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  padding: 24px;

  img {
    border-radius: 10px;
  }
}
